/* .wrapper, .aboutMain {
    width: 70vw;
    margin: auto;
} */

.aboutMain {
    margin:15vh 0vh;
}

.aboutContainer {
    width: 80vw;
    margin: auto;
}

.aboutUsTag {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.aboutUsTagText {
    font-size: 60px;
    color: #4874d0;
}

.aboutUsTagHR {
    width: 30%;
    height: 1px;
    background-color: black;
    border: none;
}

.aboutConference h2 {
    color: #4874d0;
    font-size: 40px;
}

.aboutConferenceSection {
    margin: 3vh 0;
}

.aboutConferenceSectionContent {
    font-size: 20px;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

